/frontend/node_modules/
/spacemarine/.mvn/
/.idea/
/frontend/dist/
/auth-service/target/
/auth-service/.idea/vcs.xml
/frontend/.idea/vcs.xml
/auth-service/.idea/misc.xml
/frontend/.idea/misc.xml
/frontend/.idea/modules.xml
/auth-service/.idea/compiler.xml
/auth-service/.idea/dataSources.xml
/auth-service/.idea/encodings.xml
/frontend/.idea/frontend.iml
/auth-service/.idea/jarRepositories.xml
/auth-service/.idea/.gitignore
/frontend/.idea/.gitignore
first-service/.mvn
first-service/.idea
first-service/.